# General
APP_NAME=
APP_SLOGAN=
APP_DESCRIPTION=
APP_EMAIL=
APP_DOMAIN=
APP_DOMAIN_SHORT=
APP_LOGO_URL=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_API_ENDPOINT=

#Resend
RESEND_API_KEY=
SENDER_EMAIL=
SENDER_NAME=

# JWT
JWT_SECRET=

# MONGODB
MONGODB_URI=

# CRON
CRON_SECRET=
